# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore temporary directories
build
bin
lib

# Ignore llvm files
*.ll

# Ignore misc files
*.vim
.*.swp
